 <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper deep-purple accent-2">
            <a href="/" class="brand-logo">A</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/about">about</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
    </nav>
</div>